<span class="todo-count"><strong>{{pluralize todoCount 'item'}}</strong> left</span>
<ul class="filters">
    <li>
        All
    </li>
    <li>
        Active
    </li>
    <li>
        Completed
    </li>
</ul>
<button class="clear-completed" {{action clearCompleted}}>Clear completed</button>